.first{
    background-image: url('https://cdn.pixabay.com/photo/2016/09/21/11/24/carousel-1684591_960_720.png');
    height:550px;
    background-repeat: no-repeat;
    background-size:100% 100%;
}
.intro{
    font-size: 45px;
    font-weight: 600; 
}
.navbar{
    background-color: rgba(139, 139, 247, 0.918);
}