{% extends 'base.html' %}

{% block content %}
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active first">
            <div class="row">
                <div class="col-3"></div>
                <div class="col-6 intro">
                    <h1 class="text-center text-dark fw-bold">Awards</h1>
                    <p class="pt-3 pb-3 text-dark">
                        Showcasing amazing web applications
                        in a developer's world.Feel free to
                        rate any of the projects
                    </p>
                </div>
                <div class="col-3"></div>
            </div>
        </div>
        <div class="carousel-item second">
            <div class="row">
                <div class="col-3"></div>
                <div class="col-6">
                    <p class="pt-5 pb-3 text-light intro">
                        Bringing out the best in someone
                    </p>
                </div>
                <div class="col-3"></div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<div class="projects">
    <h1>PROJECTS</h1>
    {% for project in projects %}
        <div class="card col-5" style="width: 18rem;">
          <img src="" class="img-responsive"  class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{project.title}}</h5> 
            <p class="card-text">{{project.description}}</p>
            <a href="#" class="btn btn-primary">{{project.link}}</a>
          </div>
        </div>
      </div>
      {% empty %}
      <div class="row">
        <h2 class="text-center">There No Projects</h2>
      </div>
      {% endfor %}
</div>

{%endblock%}